body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .menu {
    background-color: #033E3E;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu ol {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    color: #FFC0CB;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: white;
  }
  
  .logo {
    font-size: 20px;
    color: #FFB6C1;
  }
  
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fff;
  }
  
  .profiletext {
    max-width: 60%;
  }
  
  .profiletext h1 {
    font-size: 36px;
    color: #033E3E;
  }
  
  .profiletext p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .photoicon a img {
    width: 30px;
    margin-right: 15px;
    transition: transform 0.3s;
  }
  
  .photoicon a img:hover {
    transform: scale(1.1);
  }
  
  .profilephoto img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #033E3E;
  }
  
  
  .mainphoto {
    text-align: center;
    margin: 40px 0;
  }
  
  .mainphoto img {
    width: 200px;
  }
  